.container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.calendarDays {
  table-layout: fixed;
  width: 100%;
}

.calendarDays > td {
  width: 33.33%;
  position: relative;
}
